@import "src/theme/theme-variables";

.salary-container {
  padding: 35px;
}

.salary-details-container {
  padding-left: 35px;
}

.full-width {
  width: 100%;
}

.mat-icon {
  vertical-align: middle;
}

@media ($mat-xsmall) {
  .salary-container {
    padding: 0 0 15px 0;
  }
  .salary-details-container {
    padding: 0;
  }
}
