.container {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.example-card {
  max-width: 400px;
}

.icon-anibal {
  background-image: url("../../assets/anibal.jpg");
  background-size: cover;
}

.icon-denisa {
  background-image: url("../../assets/denisa.jpg");
  background-size: cover;
}
