<mat-card class="details">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title
      #tooltip="matTooltip"
      [matTooltip]="'SALARY_DETAILS.SALARY_RAISE' | translate: { value: netSalary - netSalary2020 | number: '1.0-0' }"
      [matTooltipClass]="'tooltip'"
      (click)="tooltip.toggle()"
    >
      {{ 'SALARY_DETAILS.NET_SALARY_IS' | translate }}<b class="net-salary">{{ netSalary | number: '1.0-0' }} CZK</b>
      {{ 'SALARY_DETAILS.COMPARED_TO' | translate
      }}<i class="previous-salary">{{ netSalary2020 | number: '1.0-0' }} CZK</i>
      {{ 'SALARY_DETAILS.FROM_LAST_YEAR' | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div
      *ngIf="salaries$ | async as salary"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="25px"
      fxLayoutGap.sm="5px"
      fxLayoutGap.xs="5px"
    >
      <div>
        <img
          class="currency-icon"
          src="https://img.icons8.com/dotty/80/000000/euro-pound-exchange.png"
          width="35"
          height="35"
        /><b>€ {{ salary.eurSalary | number: '1.0-0' }}</b>
      </div>
      <div>
        <img
          class="currency-icon"
          src="https://img.icons8.com/dotty/80/000000/us-dollar.png"
          width="35"
          height="35"
        /><b>$ {{ salary.usdSalary | number: '1.0-0' }}</b>
      </div>
      <div>
        <img
          class="currency-icon"
          src="https://img.icons8.com/dotty/80/000000/british-pound.png"
          width="35"
          height="35"
        /><b>£ {{ salary.gbpSalary | number: '1.0-0' }}</b>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<div fxLayout="column" fxLayoutGap="15px">
  <div>
    <table [dataSource]="salaryDetails" class="mat-elevation-z8" mat-table>
      <!-- Position Column -->
      <ng-container matColumnDef="taxName">
        <th *matHeaderCellDef mat-header-cell>{{ 'SALARY_DETAILS.TAX' | translate }}</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.taxName | translate }}
          <mat-icon
            *ngIf="element.toolTip"
            #tooltip="matTooltip"
            [matTooltip]="element.toolTip | translate"
            [matTooltipClass]="'tooltip'"
            (click)="tooltip.toggle()"
          >
            help
          </mat-icon>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="amount">
        <th *matHeaderCellDef mat-header-cell>{{ 'SALARY_DETAILS.AMOUNT' | translate }}</th>
        <td *matCellDef="let element" mat-cell>{{ element.amount | number: '1.0-0' }} CZK</td>
      </ng-container>

      <tr *matHeaderRowDef="['taxName', 'amount']" mat-header-row></tr>
      <tr *matRowDef="let row; columns: ['taxName', 'amount']" mat-row></tr>
    </table>
  </div>
  <div>
    <table [dataSource]="salaryDetailsPaidEmployer" class="mat-elevation-z8" mat-table>
      <!-- Position Column -->
      <ng-container matColumnDef="taxName">
        <th *matHeaderCellDef mat-header-cell>{{ 'SALARY_DETAILS.TAX' | translate }}</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.taxName | translate }}
          <mat-icon
            *ngIf="element.toolTip"
            #tooltip="matTooltip"
            [matTooltip]="element.toolTip | translate"
            [matTooltipClass]="'tooltip'"
            (click)="tooltip.toggle()"
          >
            help
          </mat-icon>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="amount">
        <th *matHeaderCellDef mat-header-cell>{{ 'SALARY_DETAILS.AMOUNT' | translate }}</th>
        <td *matCellDef="let element" mat-cell>{{ element.amount | number: '1.0-0' }} CZK</td>
      </ng-container>

      <tr *matHeaderRowDef="['taxName', 'amount']" mat-header-row></tr>
      <tr *matRowDef="let row; columns: ['taxName', 'amount']" mat-row></tr>
    </table>
  </div>
  <div>
    <p class="obs-text" translate>SALARY_DETAILS.OBSERVATION</p>
  </div>
</div>
