@import "src/theme/theme-variables";

.details {
  margin-bottom: 15px;
}

table {
  width: 100%;
}

td {
  text-align: left;
  width: 79%;
}

.header-image {
  background-image: url("https://img.icons8.com/bubbles/50/000000/money.png");
  background-size: cover;
  vertical-align: middle;
  margin-top: -8px;
}

.currency-icon {
  vertical-align: middle;
  margin-top: -3px;
}

.net-salary {
  color: green;
}

.previous-salary {
  color: green;
  font-size: medium;
}

.mat-icon {
  vertical-align: middle;
  margin-top: -5px;
}

.obs-text {
  text-align: left;
  font-size: small;
  font-style: italic;
  padding-left: 5px;
}

@media ($mat-xsmall) {
  .mat-card-header .mat-card-title {
    font-size: 17px;
  }
}
